.App {

  background-color: black;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;

  .container {

    display: flex;

    //border: 1px green solid;

    position: relative;
    overflow: hidden;

    .board {

      width: 100%;

      //border: 1px red solid;
    }

    .planchette {

      width: 35%;
      transform: rotate(180deg) translate(50%,50%);
      //border: 1px blue solid;
      position: absolute;
      //background: linear-gradient(0deg, transparent 0%, transparent 49%, cyan 50%, transparent 51%, transparent 100%);
      transition-property: topm left;
      transition-duration: 3s;
      transition-timing-function: ease;
    }
    
    .points {
      
      $size: 8%;
      .point {
        position: absolute;
        transform: translate(-50%,-50%);
        width: $size;
        height: $size;
        border-radius: 50%;
        //border: 3px solid green;
      }
    }

    .zones {
      
      .zone {
        position: absolute;
        //border: 3px solid pink;
        box-sizing: border-box;
      }
    }
  }
}

